.profile-wrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 20px auto;
}

.profile-iti-wrapper {
  display: flex;
}

.profile-iti-wrapper a {
  text-decoration: none;
  color: black;
}

.profile-iti-wrapper p {
  margin: 5px 0;
}

.profile-iti-wrapper p:nth-child(2) {
  margin: 5px 10px;
}

.name-img {
  display: flex;
  justify-content: space-around;
}

.name-img img {
  height: 200px;
  border-radius: 30px;
}
