.wrapper {
  margin-top: 20px;
}

.imgWrapper {
  text-align: center;
}

.imgWrapper img {
  width: 90%;
  margin: 5px;
}

.picture-control {
  display: flex;
  justify-content: center;
}

.picture-control i {
  font-size: 48px;
  width: 100px;
  text-align: center;
}
