.header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.header i {
  font-size: 48px;
}

.left-side {
  display: flex;
  align-items: center;
}

.left-side i,
.left-side img {
  margin-right: 10px;
}

.avatar {
  height: 60px;
  border-radius: 30px;
}
