.outerWrapper {
  background-color: rgba(50, 50, 50, 0.8);
  width: 250px;
  height: 150px;
  position: fixed;
  top: 80px;
  left: calc(100vw - 270px);

  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerWrapper {
  height: 95%;
  width: 95%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerWrapper p {
  text-transform: uppercase;
  color: white;

  padding: 15px 0;
  margin: 0;
  font: bolder 24px sans-serif;
  /* font-size: 16px; */
  /* font-weight: bold; */
}

.innerWrapper a {
  text-decoration: none;
}
