.App {
    text-align: center;
    height: 100vh;
    width: 100vw;
  }
  
  .App-logo {
    width: calc(100vw - 20px);
    margin: 50px 10px 10px 10px;
  }
  
  .App-intro{
    margin: 60px 10px 10px 10px;
    font-size: 18px;
  }
  
  .App-start-browsing{
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
  }
  
  .App-arrow{
    width: 35vw;
  }
  
  .App-call-to-action{
    font-size: 15px;
    margin: 60px 10px 10px 10px;
  }
  
  .App-links{
    display: flex;
    justify-content: space-around; 
  }
  
  .App-links>a{
    margin: 10px 20px;
  }
  
  .App-links>a>p{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }